.blog-post-card {
  border: 1px solid #ddd;
  padding: 16px 18px;
  margin: 0.8rem 0;
  text-decoration: none;
  color: #333;
  display: block;
  transition: 0.3s ease-out;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
  }

  h2 {
    margin-bottom: 8px;
  }

  p {
    color: #888;
    font-size: 14px;
  }

  .post-info-container {
    display: flex;
    justify-content: space-between;
  }

  .tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;

    .tag {
      background-color: rgb(223, 156, 13);
      color: #fff;
      padding: 4px 8px;
      margin-right: 8px;
      margin-bottom: 8px;
      border-radius: 4px;
      font-size: 12px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }

  @media screen and (max-width: 450px) {
    padding: 10px 12px;

    h2 {
      font-size: 1.2rem;
    }
  }
}
