*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #222 #000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;

  &.dark {
    color: #fff;
  }

  &.light {
    color: #222;
  }

  main,
  .nav-content {
    padding: 4rem 0;
    margin: 0 auto;
    width: 1200px;

    @media screen and (max-width: 1400px) {
      width: 900px;
      padding: 2rem 0;
    }

    @media screen and (max-width: 992px) {
      width: 700px;
    }

    @media (max-width: 768px) {
      width: 90vw;
      padding: 2rem 0;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }

  @media screen and (max-width: 450px) {
    font-size: 14px;
  }
}
