body {
  margin: 0;
  font-size: 16px;

  @media screen and (max-width: 450px) {
    font-size: 14px;
  }

  main {
    padding: 4rem;
    margin: 0 auto;
    width: 1200px;

    @media screen and (max-width: 1400px) {
      width: 900px;
      padding: 2rem;
    }

    @media screen and (max-width: 992px) {
      width: 700px;
    }

    @media (max-width: 768px) {
      width: 90%;
      padding: 0;
    }
  }
}
